.calendar{

  

  [date]{
    @extend .col;


    span{
      padding: .25em 0;

      a{
        text-decoration: none;
        color: $primary;
      }
    }

    &:first-child{
      font-weight:bold;
    }

    &:not(:empty){

      &:before{
        font-size: .7em;
        opacity: .75;
        content: attr(label);
      }
    }
  }

}
