header{
  padding: 2.5rem 0;
  background: linear-gradient(90deg,#fff 0%,#fff 20%,transparent 100%);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo{

  svg{
    width: 80px;
    @extend .m-r;
  }

  div > *{
    line-height: 1;
  }
}

.logo-color{
  color: $primary;
  fill: $primary;
}
