.image-slider{
  position: relative;

  & > div{
    background-size: cover;
    background-position: center;
    transition: opacity .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    &.active{
      opacity: 1;
    }
  }
}
