h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p{
  font-family: $font-secondary;
  margin: 0 0 .5rem;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.text-center{
  text-align: center;
}

.fade{
  opacity: .5;
}

.small{
  font-size: .75em;
}
