.container{
  margin: 0 auto;
  width: 85%;
  max-width: $container;
}

.p-l{
  padding-left: 1rem;
}

.p-l-0{
  padding-left: 0;
}

.p-r{
  padding-right: 1rem;
}

.p-r-0{
  padding-right: 0;
}

.p-t{
  padding-top: 1rem;
}

.p-t-0{
  padding-top: 0;
}

.p-b{
  padding-bottom: 1rem;
}

.p-b-0{
  padding-bottom: 0;
}

.m-l{
  margin-left: 1rem;
}

.m-l-0{
  margin-left: 0;
}

.m-r{
  margin-right: 1rem;
}

.m-r-0{
  margin-right: 0;
}

.m-t{
  margin-top: 1rem;
}

.m-t-0{
  margin-top: 0;
}

.m-b{
  margin-bottom: 1rem;
}

.m-b-0{
  margin-bottom: 0;
}
